spring.datasource.url=jdbc:postgresql://localhost:5432/pixaccess
spring.datasource.username=seu_usuario
spring.datasource.password=sua_senha

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=false
spring.jpa.properties.hibernate.format_sql=true

jwt.secret=chave_secreta_minimo_256_bits
jwt.expiration=86400000
